{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}

<div class="spin-wheel-main">
  <p>Press "Spin" button to get the number</p>

  <p id="round-number">Round #</p>

  <div class="spin-value-block">
    <p id="spin-value-text">And your number is...</p>
  </div>

  <button type="button" id="spin-btn">Spin</button>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'roulette/js/spinwheel.js' %}"></script>
{% endblock scripts %}