{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}

<h3>Spin wheel</h3>
<hr />

<div class="spin-wheel-main">
  <p id="round-number">Round #</p>

  <p>Press "Spin" button to get the number</p>

  <div class="spin-value-block">
    <p id="spin-value-text">And your number is...</p>
  </div>

  <button type="button" id="spin-btn" class="btn btn-primary">Spin</button>
  <button type="button" id="stats-btn" class="btn btn-primary">Get stats</button>
</div>

<p></p>

<h3>Stats</h3>
<hr />

<div class="stats-block">

  <h4>Active users:</h4>
  <table class="table" id="active-users-table">
    <tr>
      <th>User id</th>
      <th>Round count</th>
      <th>Average spins per round</th>
    </tr>
  </table>

  <h4>User count per round:</h4>
  <table class="table" id="user-count-table">
    <tr>
      <th>Round id</th>
      <th>User count</th>
    </tr>
  </table>

</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'roulette/js/spinwheel.js' %}"></script>
{% endblock scripts %}